*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(241, 241, 241);
}
#fondo img{
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background-attachment: fixed;
}
#contenedor{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header{
    font-family: 'Lucida Sans';
}
header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    margin: 30px;
    color: white;
}
header h3{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
nav{
    margin: 30px;
    height: 25px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    min-width: 100px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: rgb(145, 141, 141);
}
footer{
    margin: 5px;
    padding: 5px;
    text-align: center;

}
footer a{
    color: rgb(255, 255, 255);
}
footer i{
    font-size: 1.5em;
    display: block;
    border-radius: 30%;
}
footer a i:hover{
     background-color: rgb(0, 0, 0);
}
/*parte de blog*/
#conte{
    width: 80%;
    height: 1000px;

    margin: 20px auto;
    padding: 5px;
}
#cabecera{
    height: 150px;
    background-color: rgb(236, 236, 236);
    margin-bottom: 60px;
    text-align: center;
    position: fixed;
    
    top:0;
    left:0;
    width:100%;
    z-index:100; 
}
#cabecera h2{
    font-family: 'Lucida Sans' ;
    font-size: 100px;
    color: red;
}
#cabecera h2:hover{
    color: #a02e2e;
}
#cabecera ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#cabecera ul li{
    list-style-type: none;
    min-width: 140px;
}
#cabecera ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(129, 129, 199);
    padding: 5px 20px;
}
#cabecera ul li a:hover{
    background-color: rgb(230, 230, 247);
    border-bottom: 2px solid red;
}
#fot{
    width: 98%;
    height: 500px;
    display: block;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 3px;
    border-radius: 6px;
    margin-top: 150px;
}
.uno{
    width: 6%;
    border-radius: 50%;
}
#nombre {
    width: 100%;
    margin-right: 50px;
    margin: 0px auto;
    margin-bottom: 10px;
}
#nombre h5{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 0px;
}
#nombre h5 img{
    margin-right: 30px;
    
}
#nombre h3{
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    font-size: 25px;
}
#conte p{
    text-align: justify;
    margin-top: 30px;
}
#parrafo p{
    margin: 20px;
}
.dos{
    width: 10%;
    border-radius: 20%;
    float: left; /* Coloca la imagen a la izquierda */
    margin-right: 15px;
    margin-top: 20px;
    height: auto;
}
#siguenos p{
    font-size: 30px;
}
/*galeria*/
#cuadros{
    margin-top: 150px;
}
.tex{
    margin-top: 50px;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 0px; 
}
.tex p{
    margin-top: 15px;
    text-align: center;
}
.tex img{
    width: 90%; 
    border-radius: 3px;
    box-shadow: 4px 6px 8px rgb(37, 36, 36);  
    opacity: 0.6; 
    transition: opacity 0.4s ease, transform 0.3s ease;
}
.tex img:hover{
    opacity: 1; 
    transform: scale(1.05); 
}
#rede{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}
#rede a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#rede i{
    font-size: 1.5em;
    display: block;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    padding: 5px 5px;
    margin: 5px 5px;
    align-items: center;
}
#rede a i:hover{
    background-color: rgb(97, 94, 94);
}
/*video*/
#content{
    width: 80%;
    height: 1000px;
    margin: 0px auto;
    margin-top: 150px;
}
#titulo{
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
}
#textoo{
    text-align: justify;
}
#video iframe{
    width:75%;
    height: 350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
    box-shadow: 4px 6px 8px rgb(63, 60, 60);  
    border: 3px solid rgb(19, 18, 18);
}
#vimeo{
    width:75%;
    height: 350px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: block;
    box-shadow: 4px 6px 8px rgb(63, 60, 60);  
    border: 3px solid rgb(19, 18, 18);
}
.parraf{
    margin-top: 20px; 
}
.parra{
    margin-top: 60px;
    text-align: justify;
}
/*contactos*/
#con{
    width: 90%;
    height: 1500px;
    background-color: antiquewhite;
    margin: auto;
    padding:5px;
    background: linear-gradient(#96aff0,#cbd2ec,#e6e6ec);
}
#tyf{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 190px;
}
#tabla{
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
    padding: 10px;
}
table{
    width: 90%;
    margin: 0px auto;
}
caption{
    font-size: 25px;
    padding: 6px;
    color: rgb(224, 59, 59);
}
table,td,th{
    font-size: 18px;
    border:2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 8px;
}
.ima{
    width: 250px;
    margin-top: 40px;
    margin-left: 25% ;
    border: 1px solid orange;
    background-color: white;
    padding: 7px 7px 7px 7px;
}
#mapa{
    padding: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapa iframe{
    display: block;
    margin: 0 auto;
    width: 70%;
}
iframe{
    border: 2px solid rgb(243, 237, 227);
    background-color: white;
    padding: 10px 10px 10px 10px;
}
#formu {
  width: 30%;
  margin: 0 auto;
  padding: 25px 30px;
}
#formu h4 {
    font-size: 25px;
  text-align: center;
  color: #8b1a1a;
}
label {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-top: 6px;
}
input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #000000;
  font-size: 15px;
}
textarea {
  height: 90px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #b47b33;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #8b1a1a;
}
/*nosotros*/
#co{
    width: 90%;
    height: 800px;
    margin: auto;
    padding:5px;
    margin-top: 150px;
}
.coned {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
  width: 90%;
  margin: 20px auto;
}
/* HEADER */
.header {
  grid-column: 1 / 4;
  background-color: #1a2a5c;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 25px;
  font-weight: bold;
}

/* QUIÉNES SOMOS */
.quienes {
  grid-column: 1 / 3;
  padding: 25px;
  text-align: justify;
  margin-top: 30px;
  margin-right: 30px;
}
.quienes p{
    padding: 5px;
    font-size: 20px;
}
/* IMÁGENES */
.img1{
    margin-bottom: 40px;
    border: 30px solid transparent;
}
.img2{
    margin-bottom: 40px;
    border: 20px solid transparent;
}
.img3{
    margin-bottom: 20px;
}
.img1 img, .img2 img, .img3 img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  
}
.img1 { grid-column: 1 / 2; grid-row: 3 / 4; border: 4px ; }
.img2 { grid-column: 2 / 3; grid-row: 3 / 4; border: 4px ; }
.img3 { grid-column: 3 / 4; grid-row: 2 / 4; border: 4px ; }

/* FOOTER */
.footer {
  grid-column: 1 / 4;
  background-color: #1a2a5c;
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 1.2rem;
}

